<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Simple Kafka Producer</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.0.0/jsoneditor.min.css'
      integrity='sha512-AEiXL7/bX8bmzC+hzre5EHTkMOFCsx/IjKXlL3J3m/G3qjGEzGSrCPPTzuqL0002YTM2uhyjDuhSvxCxB5u+xQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
  </head>
  <body>
    <section class='hero is-link is-small'>
      <div class='hero-body'>
        <p class='title'>
          Simple Kafka Producer
        </p>
      </div>
    </section>
    <section class='section'>
      <div class='container'>
        <div class='columns'>
          <div class='column is-half'>
            <form id='kafka-form'>
              <div class='field'>
                <label class='label' for='kafka-topic'>Kafka Topic</label>
                <div class="control">
                  <div class="columns">
                    <div class="column is-three-quarters">
                      <div class="select is-fullwidth">
                        <select id="kafka-topic" required>
                          {{#each topics}}
                            <option value="{{this}}">{{this}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </div>
                    <div class="column is-half">
                      <input type="button" value="Create Topic" class="button is-link toggle-modal-create-topic" />
                    </div>
                  </div>
                </div>
              </div>
              <div class='field'>
                <label class='label' for='kafka-payload'>Payload</label>
                <div id="json-editor"></div>
              </div>
              <div class='field is-grouped'>
                <div class='control'>
                  <button class='button is-link' type='submit' id="btn-publish">Publish</button>
                </div>
                <div class='control'>
                  <input
                    class='button is-link is-light'
                    id='btn-clear'
                    type="button"
                    value="Clear"
                  ></input>
                </div>
              </div>
            </form>
          </div>
          <div class="column is-half">
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box notification">
                  <p class="title">Kafka Config</p>
                  <div class="content">
                    <p><strong>Client Id: </strong> {{kafkaClient.clientId}}</p>
                    <p><strong>Brokers: </strong> {{kafkaClient.brokers}}</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="modal" id="modal-create-topic">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">New Topic</p>
          <button class="delete toggle-modal-create-topic" aria-label="close"></button>
        </header>
        <form id="new-topic-form">
          <section class="modal-card-body">
            <div class="field">
              <label class="label">Topic Name</label>
              <div class="control">
                <input class="input" type="text" id="topic-name" required>
              </div>
            </div>
          </section>
            <footer class="modal-card-foot">
              <button type="submit" class="button is-link" id="btn-create-topic">Create</button>
              <input type="button" class="button toggle-modal-create-topic" value="Cancel" />
          </footer>
        </form>
      </div>
    </div>
    <script
      src='https://code.jquery.com/jquery-3.6.0.min.js'
      integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
      crossorigin='anonymous'
    ></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.0.0/jsoneditor.min.js'
      integrity='sha512-OAPQK6oatgSIBlxp49cOiV7ilfh4/I+XNEVnh/1HOw9a3KQHc6Ks1bhSNwWHQJjIzFrj1y514cFah6nhzljBgQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-toast@2.4.1/dist/bulma-toast.min.js"></script>

    <script>
      function createJsonEditor() {
        var jsonEditorContainer = document.getElementById("json-editor");
        var options = {
          mode: "code",
          modes: ["code", "form", "text", "tree", "view", "preview"], // allowed modes
          onModeChange: function (newMode, oldMode) {
            console.log("Mode switched from", oldMode, "to", newMode);
          },
        };
        var initialJson = {
          hello: "world",
        };
        var jsonEditor = new JSONEditor(jsonEditorContainer, options, initialJson);

        return jsonEditor;
      }

      function toggleModalCreateTopic() {
        $('#modal-create-topic').toggleClass('is-active');
      }

      $(document).ready(function () {
        var jsonEditor = createJsonEditor();

        $("#kafka-form").on("submit", function (e) {
          e.preventDefault();
          var kafkaTopic = $('#kafka-topic option:selected').val();
          var kafkaPayload = jsonEditor.get();

          $.ajax({
            method: "POST",
            url: "/api/publish-to-kafka",
            headers: {
              "x-kafka-topic": kafkaTopic,
            },
            data: { payload: kafkaPayload },
            beforeSend: function () {
              $("#btn-publish").addClass("is-loading");
            },
            success: function (response) {
              bulmaToast.toast({
                message: "Message Published",
                type: "is-success",
                dismissible: true,
                pauseOnHover: true,
              });
            },
            error: function (xhr) {
              var errorMessage = xhr.responseJSON.message;
              bulmaToast.toast({
                message: errorMessage,
                type: "is-danger",
                dismissible: true,
                pauseOnHover: true,
              });
            },
            complete: function () {
              $("#btn-publish").removeClass("is-loading");
            },
          });
        });

        $("#btn-clear").on("click", function () {
          $("#kafka-topic").val("");
          jsonEditor.set("");
        });

        $('.toggle-modal-create-topic').on('click', toggleModalCreateTopic);

        $('#new-topic-form').on('submit', function(e) {
          e.preventDefault();
          var topicName = $('#topic-name').val();

          $.ajax({
            url: '/admin/create-topic',
            method: 'POST',
            data: { topicName: topicName },
            beforeSend: function () {
              $("#btn-create-topic").addClass("is-loading");
            },
            complete: function () {
              $("#btn-create-topic").removeClass("is-loading");
            },
            success: function (response) {
              bulmaToast.toast({
                message: "Topic created!",
                type: "is-success",
                dismissible: true,
                pauseOnHover: true,
              });
              toggleModalCreateTopic();
              $('#kafka-topic').append($('<option>', {
                value: topicName,
                text: topicName,
              }));
            },
            error: function (xhr) {
              var errorMessage = xhr.responseJSON.message;
              bulmaToast.toast({
                message: errorMessage,
                type: "is-danger",
                dismissible: true,
                pauseOnHover: true,
              });
            },
          })
        })
      });
    </script>
  </body>
</html>
